<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Signup</title>
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container mt-5">
    <h2>Sign Up</h2>
    <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="POST" action="/auth/signup">
      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fullName" required>
      </div>
        <div class="mb-3">
        <label class="form-label">Adhar Number</label>
        <input type="text" class="form-control" name="Adhar" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
